.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #000000;
  .tabs {
    gap: 4rem;
    display: flex;

    .tabs__item {
      color: #ffffff;
      cursor: pointer;
      font-size: 1.3rem;
    }
    .tabs__item:hover {
      text-decoration: underline;
      font-weight: 800;
      color: #a7bea9;
    }
  }
}

main {
  margin: 4rem 10rem 0 10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
